.services-section {
    position: relative;
    background: var(--bg);
}

.services-section .container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 300px;
    bottom: 50px;
    width: 2px;
    background: #eeeeee8a;
    transform: translateX(-50%);
    z-index: 0;
}

.services-header-container {
    padding-top: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-eyebrow {
    color: var(--secondary); 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.services-main-title {
    font-size: 3.8rem;
    color: var(--tertiary);
    font-weight: 800;
    letter-spacing: -2px;
}

.services-main-title span {
    color: var(--primary); 
}

.header-divider {
    width: 60px;
    height: 4px;
    background: var(--primary);
    margin-top: 20px;
    border-radius: 2px;
}

.services-content {
    padding: 4% 0  2% 0;
}


.service-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    gap: 8rem;
    position: relative;
}

.service-row::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #eee;
    border-radius: 50%;
    z-index: 2;
}

.row-reverse {
    flex-direction: row-reverse;
}

.service-visual {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.image-wrapper::after {
    content: '';
    position: absolute;
    top: 30px; 
    left: 20px;
    right: 20px;
    bottom: -20px;
    filter: blur(40px);
    z-index: -1; 
    transition: all 0.3s ease;
}

.mockup-img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 20px 30px rgba(0,0,0,0.3));
    border-radius: 17px;
}

.floating-icon {
    position: absolute;
    font-size: 40px;
    bottom: -10px;
}


.service-content {
    flex: 1;
}

.service-icon-box {
    width: 60px;
    height: 60px;
    background-color: #d0ecff; 
    color: var(--tertiary);           
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}

.service-icon-box svg {
    width: 32px;
    height: 32px;
}


.service-title {
    font-size: 2.6rem;
    color: var(--tertiary);
    font-weight: 600;
    margin-bottom: 20px; 
}

.service-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}



.service-cta-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: .8rem;
    padding: 12px 24px;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.service-cta-btn:hover {
    filter: brightness(1.08);
    transform: translateY(-2px);
  
}

.btn-arrow {
    transition: transform 0.3s ease;
}

.service-cta-btn:hover .btn-arrow {
    transform: translateX(4px);
}




/* Mobile Responsiveness */
@media (max-width: 768px) {
    .service-row, .row-reverse {
        flex-direction: column;
        text-align: center;
    }
    .service-row::after { display: none; }
}