.testi-card {
  background-color: transparent;
}

.testi-card__grid {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Image Column with Glow */
.testi-card__image-container {
  position: relative;
  flex: 1;
  max-width: 420px;
  max-height: 420px;
  display: flex;
  justify-content: center;
}

.testi-card__image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Content Column */
.testi-card__content {
  flex: 1.5;
  max-width: 420px;
}

.testi-card__body p {
  font-size: 1  rem;
  line-height: 1.6;
  color: #3a3a3a;
  margin-bottom: 1.5rem;
}

.testi-card__footer {
  margin-top: auto;
  gap: 1px;
  display: flex;
  flex-direction: column;
}

.testi-card__footer .authorName {
  font-size: 18px;
  font-weight: 600;
  color: #363636;
}

.testi-card__footer p {
  font-size: 16px;
  color: #555555;
}